<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="list-group p-20">
        <ul class="list-group" style="display: inline-block;">
            <li class="list-group-item"><a th:href="@{/patient}">Patient panel</a></li>
            <li class="list-group-item"><a th:href="@{/specialization}">Specialization panel</a></li>
            <li class="list-group-item"><a th:href="@{/doctor}">Doctor panel</a></li>
        </ul>
    </div>
</div>

</body>
</html>