<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Specialization home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div th:switch="${specializations}">
        <h2 th:case="null">0 specializations</h2>
        <div th:case="*">
            <table class="table table-stripped table-responsive-md">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="specialization : ${specializations}">
                    <td th:text="${specialization.id}"></td>
                    <td th:text="${specialization.title}"></td>
                    <td>
                        <a th:href="@{/specialization/form/{id}(id=${specialization.id})}"
                           class="btn btn-primary">Edit</a>
                        <a th:href="@{/specialization/delete/{id}(id=${specialization.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/specialization/form/0}" class="btn btn-success">Add new</a>
        </div>
    </div>
</div>
</body>
</html>