<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warehouse Spring MVC App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
</head>
<body>
<div class="container-fluid">
    <div class="page-title">
        <h2>We have <span th:text="${items.size()}"></span> items in our database</h2>
    </div>

    <div th:switch="${items}">
        <h2 th:case="null">No items</h2>
        <div th:case="*">
            <h2>Items</h2>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Shelf</th>
                    <th>Position</th>
                    <th>Value</th>
                    <th>Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.shelf}"></td>
                    <td th:text="${item.position}"></td>
                    <td th:text="${item.value}"></td>
                    <td th:text="${item.weight}"></td>
                    <td><a th:href="@{/item/update/{id}(id=${item.id})}" class="btn btn-info">Change</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><a href="/" class="btn btn-primary">Change Employee</a></p>

</div>


</form>
</body>
