<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warehouse Spring MVC App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
</head>

<body>
<div class="container-fluid">
    <div class="list-group p-20">
        <ul class="list-group" style="display: inline-block;">
            <li class="list-group-item"><a th:href="@{/arrival}">Arrival Items</a></li>
            <li class="list-group-item"><a th:href="@{/departure}">Departure Items</a></li>
            <li class="list-group-item"><a th:href="@{/change}">Change Items</a></li>
        </ul>
    </div>
</div>


</body>
</html>